* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:  Helvetica Neue,helvetica,arial,Hiragino Kaku Gothic ProN,Meiryo,MS Gothic;
}

a {
    text-decoration: none;
    color: inherit;
    display: flex;
    margin-bottom: 10px;
}

.spotify {
    display: flex;
    height: calc(100vh - 80px);
}

.spotify svg {
    width: 30px;
}

.headbar {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #080b12;
}

.sidebar {
    color: white;
    width: 250px;
    height: 100%;
    background-color: black;
    padding: 25px 0px 0px 20px;
}



a h3,
p {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.navbar {
   display: flex;
   justify-content: center;
   width: 100%;
}

.main {
    width: calc(100% - 150px );
    background-color: #141922;
}

.player {
  width: 100%;
  height: 80px;
  background-color: rgb(54, 54, 54);
}

.playlist {
    font-size: 20px;
    padding: 15px 0px 10px 0px;
}

.fa-plus {
    width: 30px;
    height: 30px;
    background-color: gray;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-right: 5px;
}

.fa-plus:hover {
    box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.3);
  }


  a:hover :not(.btn-upgrade, .spotify-logo) {
    color: rgb(255, 255, 255);
    font-size: large;
  }

  .spotify-logo:hover {
    color: #79e079;
  }

  .btn-upgrade {
    color: white;
    border: 1px solid white;
    padding: 15px 20px;
    border-radius: 30px;
    margin-right: 20px;
  }

  .btn-upgrade:hover {
    color: black;
    background-color: white;
    border: 1px solid white;
    padding: 15px 20px;
    border-radius: 30px;
    margin-right: 20px;
  }